body {
   font-size: 16px; /* Tăng kích thước chữ */
   color: #333; /* Màu chữ */
   font-family: 'Arial', sans-serif; /* Font chữ Arial hoặc font sans-serif khác */
}

.navbar-header {
   @media only screen and (max-width: 480px) {
      position: relative !important;
   }
}

.introduction {
   @media only screen and (max-width: 480px) {
      margin-top: 20px;
   }
   border-radius: 12px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 10px;
}

.header {
   @media only screen and (max-width: 480px) {
      padding-top: 200px;
   }
}

.cmp-logo {
   @media only screen and (max-width: 480px) {
      height: 100%;
      width: 100%;
   }
   height: 50px;
   width: 100px;
   border-radius: 8%;
   margin-right: 4px;
}

.cmp-logo-text {
   @media only screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
   }
   font-size: 24px !important;
}

.title-main {
   font-size: 40px;
   color: bisque;
}
.title-text {
   font-size: 24px !important;
   color: white;
}

.google-map-wrap {
   @media only screen and (max-width: 480px) {
      height: 50%;
      width: 50%;
   }
}
